tmp/**/*
.project
log/*.log
log
*.log
.vagrant
.vagrant/**/*
apps/collections/composer.phar
*.orig
apps/collections/vendor
apps/collections/vendor/**/*
.idea/**/*
apps/collections/.idea/**/*
Release.key
apps/collections/functional-tests
phpdoc-cache
phpDocumentor.phar
phpunit-*.phar
apps/collections/docs/api
