tmp/**/*
.project
log/*.log
log
*.log
.vagrant
.vagrant/**/*
apps/collections/composer.phar
cr8it.sublime*
*.orig
apps/collections/vendor
apps/collections/vendor/**/*
.idea/**/*
apps/collections/.idea/**/*
Release.key
test/spec/*.html
test/spec/*.png
phpdoc-cache
phpDocumentor.phar
apps/collections/docs/api
