<?xml version="1.0" encoding="UTF-8"?>
<metadata xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:collections="https://schema.intersect.org.au/Collections/metadata/1.0/schema.xsd">
    <instituteDetails>
        <description>This is some static description of the institute</description>
        <contactName>John Smith</contactName>
    </instituteDetails>
    <licence>Some licence</licence>
    <collections:identifier>{{package.guid}}</collections:identifier>
    <myCollectionSize>{{package.size}}</myCollectionSize>
    <myCollectionPublishDate>{{package.date.iso}}</myCollectionPublishDate>
    <myCollectionVersionInfo>{{package.description}}</myCollectionVersionInfo>

    {{#metadataCategories}}

        {{#collectionInformation}}
            {{#metadataFields}}
                {{#title}}
                    {{#occurrences}}
                        <dc:title>{{value}}</dc:title>
                    {{/occurrences}}
                {{/title}}
                {{#description}}
                    {{#occurrences}}
                        <dc:description>{{value}}</dc:description>
                    {{/occurrences}}
                {{/description}}
                {{#language}}
                    {{#occurrences}}
                        <dc:language>{{value}}</dc:language>
                    {{/occurrences}}
                {{/language}}
                {{#mandatoryMin}}
                    {{#occurrences}}
                        <test:mandatoryMin>{{value}}</test:mandatoryMin>
                    {{/occurrences}}
                {{/mandatoryMin}}
            {{/metadataFields}}
        {{/collectionInformation}}

        {{#dataCreators}}
            {{#metadataFields}}
                {{#creator}}
                    {{#occurrences}}
                        <dc:creator>{{value}}</dc:creator>
                    {{/occurrences}}
                {{/creator}}
            {{/metadataFields}}
            {{#metadataGroups}}
                {{#creators}}
                    {{#occurrences}}
                        <creators>
                            {{#.}}
                                {{#metadataFields}}
                                    {{#given_name}}
                                        {{#occurrences}}
                                            <givenName>{{value}}</givenName>
                                        {{/occurrences}}
                                    {{/given_name}}
                                    {{#phone}}
                                        {{#occurrences}}
                                            <phone>{{value}}</phone>
                                        {{/occurrences}}
                                    {{/phone}}
                                    {{#email}}
                                        {{#occurrences}}
                                            <email>{{value}}</email>
                                        {{/occurrences}}
                                    {{/email}}
                                    {{#dateOfBirth}}
                                        {{#occurrences}}
                                            <dc:date>{{value}}</dc:date>
                                        {{/occurrences}}
                                    {{/dateOfBirth}}
                                {{/metadataFields}}
                            {{/.}}
                        </creators>
                    {{/occurrences}}
                {{/creators}}
            {{/metadataGroups}}
            {{#metadataFields}}
                {{#collaborator}}
                    {{#occurrences}}
                        <collaborator>{{value}}</collaborator>
                    {{/occurrences}}
                {{/collaborator}}
            {{/metadataFields}}
        {{/dataCreators}}

        {{#grants}}
            {{#metadataFields}}
                {{#forCode}}
                    {{#occurrences}}
                        <dc:subject>{{value}}</dc:subject>
                    {{/occurrences}}
                {{/forCode}}
            {{/metadataFields}}
            {{#metadataGroups}}
                {{#embargo}}
                    {{#occurrences}}
                        <embargo>
                            {{#.}}
                                {{#metadataFields}}
                                    {{#embargoDetails}}
                                        {{#occurrences}}
                                            <embargoDetails>{{value}}</embargoDetails>
                                        {{/occurrences}}
                                    {{/embargoDetails}}
                                    {{#retention}}
                                        {{#occurrences}}
                                            <retentionPeriod>{{value}}</retentionPeriod>
                                        {{/occurrences}}
                                    {{/retention}}
                                {{/metadataFields}}
                            {{/.}}
                        </embargo>
                    {{/occurrences}}
                {{/embargo}}
            {{/metadataGroups}}
        {{/grants}}

        {{#dates}}
            {{#metadataFields}}
                {{#currentDate}}
                    {{#occurrences}}
                        <dc:date>{{value}}</dc:date>
                    {{/occurrences}}
                {{/currentDate}}
                {{#additionalDates}}
                    {{#occurrences}}
                        <dc:date>{{value}}</dc:date>
                    {{/occurrences}}
                {{/additionalDates}}
                {{#noDefaultDate}}
                    {{#occurrences}}
                        <dc:date>{{value}}</dc:date>
                    {{/occurrences}}
                {{/noDefaultDate}}
            {{/metadataFields}}
        {{/dates}}

    {{/metadataCategories}}
</metadata>