{{% FILTERS }}
<?xml version="1.0" encoding="UTF-8"?>
<metadata xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:collections="https://schema.intersect.org.au/Collections/metadata/1.0/schema.xsd">
    <instituteDetails>
        <description>This is some static description of the institute</description>
        <contactName>John Smith</contactName>
    </instituteDetails>
    <licence>Some licence</licence>
    <collections:identifier>{{package.guid}}</collections:identifier>
    <myCollectionSize>
        <orginal-value>{{package.size}}</orginal-value>
        <format-humanFileSize>{{package.size | format.humanFileSize}}</format-humanFileSize>
    </myCollectionSize>
    <myCollectionPublishDate>{{package.date.iso}}</myCollectionPublishDate>
    <myCollectionVersionInfo>{{package.description}}</myCollectionVersionInfo>

    {{#metadataCategories}}

        {{#collectionInformation}}
            {{#metadataFields}}
                {{#title}}
                    {{#occurrences}}
                        <dc:title>
                            <original-value>{{value}}</original-value>
                            <format-case-upper>{{value | format.case.upper}}</format-case-upper>
                            <format-case-lower>{{value | format.case.lower}}</format-case-lower>
                        </dc:title>
                    {{/occurrences}}
                {{/title}}
                {{#description}}
                    {{#occurrences}}
                        <dc:description>{{value}}</dc:description>
                    {{/occurrences}}
                {{/description}}
                {{#monetary}}
                    {{#occurrences}}
                        <test:monetary>
                            <original-value>{{value}}</original-value>
                            <format-currency-default>{{value | format.currency.default}}</format-currency-default>
                            <format-currency-AU>{{value | format.currency.AU}}</format-currency-AU>
                            <format-currency-US>{{value | format.currency.US}}</format-currency-US>
                            <format-currency-GB>{{value | format.currency.GB}}</format-currency-GB>
                            <format-currency-EU>{{value | format.currency.EU}}</format-currency-EU>
                        </test:monetary>
                    {{/occurrences}}
                {{/monetary}}
                {{#language}}
                    {{#occurrences}}
                        <dc:language>{{value}}</dc:language>
                    {{/occurrences}}
                {{/language}}
                {{#mandatoryMin}}
                    {{#occurrences}}
                        <test:mandatoryMin>{{value}}</test:mandatoryMin>
                    {{/occurrences}}
                {{/mandatoryMin}}
            {{/metadataFields}}
        {{/collectionInformation}}

        {{#dataCreators}}
            {{#metadataFields}}
                {{#creator}}
                    {{#occurrences}}
                        <dc:creator>{{value}}</dc:creator>
                    {{/occurrences}}
                {{/creator}}
            {{/metadataFields}}
            {{#metadataGroups}}
                {{#creators}}
                    {{#occurrences}}
                        <creators>
                            {{#metadataFields}}
                                {{#given_name}}
                                    {{#occurrences}}
                                        <givenName>{{value}}</givenName>
                                    {{/occurrences}}
                                {{/given_name}}
                                {{#phone}}
                                    {{#occurrences}}
                                        <phone>{{value}}</phone>
                                    {{/occurrences}}
                                {{/phone}}
                                {{#email}}
                                    {{#occurrences}}
                                        <email>{{value}}</email>
                                    {{/occurrences}}
                                {{/email}}
                                {{#dateOfBirth}}
                                    {{#occurrences}}
                                        <dc:date>{{value}}</dc:date>
                                    {{/occurrences}}
                                {{/dateOfBirth}}
                            {{/metadataFields}}
                        </creators>
                    {{/occurrences}}
                {{/creators}}
            {{/metadataGroups}}
            {{#metadataFields}}
                {{#collaborator}}
                    {{#occurrences}}
                        <collaborator>{{value}}</collaborator>
                    {{/occurrences}}
                {{/collaborator}}
            {{/metadataFields}}
        {{/dataCreators}}

        {{#grants}}
            {{#metadataFields}}
                {{#forCode}}
                    {{#occurrences}}
                        <dc:subject>{{value}}</dc:subject>
                    {{/occurrences}}
                {{/forCode}}
            {{/metadataFields}}
            {{#metadataGroups}}
                {{#embargo}}
                    {{#occurrences}}
                        <embargo>
                            {{#metadataFields}}
                                {{#embargoDetails}}
                                    {{#occurrences}}
                                        <embargoDetails>{{value}}</embargoDetails>
                                    {{/occurrences}}
                                {{/embargoDetails}}
                                {{#retention}}
                                    {{#occurrences}}
                                        <retentionPeriod>{{value}}</retentionPeriod>
                                    {{/occurrences}}
                                {{/retention}}
                            {{/metadataFields}}
                        </embargo>
                    {{/occurrences}}
                {{/embargo}}
            {{/metadataGroups}}
        {{/grants}}

        {{#dates}}
            {{#metadataFields}}
                {{#currentDate}}
                    {{#occurrences}}
                        <dc:date>
                            <original-value>{{value}}</original-value>
                            <format-date-iso-8601>{{value | format.date.iso-8601 }}</format-date-iso-8601>
                            <format-date-short>{{value | format.date.short }}</format-date-short>
                            <format-date-mid>{{value | format.date.mid }}</format-date-mid>
                            <format-date-long>{{value | format.date.long }}</format-date-long>
                        </dc:date>
                    {{/occurrences}}
                {{/currentDate}}
                {{#additionalDates}}
                    {{#occurrences}}
                        <dc:date>{{value}}</dc:date>
                    {{/occurrences}}
                {{/additionalDates}}
                {{#noDefaultDate}}
                    {{#occurrences}}
                        <dc:date>{{value}}</dc:date>
                    {{/occurrences}}
                {{/noDefaultDate}}
            {{/metadataFields}}
        {{/dates}}

        {{#selections}}
            {{#metadataFields}}
                {{#someSingleSelect}}
                        {{#occurrences}}
                            <selection>{{value}}</selection>
                        {{/occurrences}}
                {{/someSingleSelect}}
                {{#anotherSingleSelect}}
                        {{#occurrences}}
                            <selection>{{value}}</selection>
                        {{/occurrences}}
                {{/anotherSingleSelect}}
            {{/metadataFields}}
        {{/selections}}

    {{/metadataCategories}}
</metadata>