<?xml version="1.0" encoding="UTF-8"?>
<metadata xmlns:collections="https://schema.intersect.org.au/Collections/metadata/1.0/schema.xsd">
    <collections:type>dataset</collections:type>
    <collections:dateExported>{{package.date.iso}}</collections:dateExported>
    {{#metadataCategories}}
        {{#categoryCollectionInformation}}
            {{#metadataGroups}}
                {{#collectionInformation}}
                    {{#occurrences}}
                        <collections:collectionInformation>
                            {{#metadataFields}}
                                {{#title}}
                                    {{#occurrences}}
                                        <collections:title>{{value}}</collections:title>
                                    {{/occurrences}}
                                {{/title}}
                                {{#description}}
                                    {{#occurrences}}
                                        <collections:description>{{value}}</collections:description>
                                    {{/occurrences}}
                                {{/description}}
                                {{#keyword}}
                                    {{#occurrences}}
                                        <collections:keyword>{{value}}</collections:keyword>
                                    {{/occurrences}}
                                {{/keyword}}
                                {{#forCode}}
                                    {{#occurrences}}
                                        <collections:FORCode>{{value}}</collections:FORCode>
                                    {{/occurrences}}
                                {{/forCode}}
                                {{#extent}}
                                    {{#occurrences}}
                                        <collections:extent>{{value}}</collections:extent>
                                    {{/occurrences}}
                                {{/extent}}
                            {{/metadataFields}}
                        </collections:collectionInformation>
                    {{/occurrences}}
                {{/collectionInformation}}
            {{/metadataGroups}}
        {{/categoryCollectionInformation}}
        {{#categoryContact}}
            {{#metadataGroups}}
                {{#contact}}
                    {{#occurrences}}
                        <collections:primaryContact>
                            {{#metadataFields}}
                                {{#contactGivenName}}
                                    {{#occurrences}}
                                        <collections:givenName>{{value}}</collections:givenName>
                                    {{/occurrences}}
                                {{/contactGivenName}}
                                {{#contactFamilyName}}
                                    {{#occurrences}}
                                        <collections:familyName>{{value}}</collections:familyName>
                                    {{/occurrences}}
                                {{/contactFamilyName}}
                                {{#contactEmail}}
                                    {{#occurrences}}
                                        <collections:email>{{value}}</collections:email>
                                    {{/occurrences}}
                                {{/contactEmail}}
                                {{#contactAffiliation}}
                                    {{#occurrences}}
                                        <collections:affiliation>{{value}}</collections:affiliation>
                                    {{/occurrences}}
                                {{/contactAffiliation}}
                                {{#contactOU}}
                                    {{#occurrences}}
                                        <collections:OU>{{value}}</collections:OU>
                                    {{/occurrences}}
                                {{/contactOU}}
                            {{/metadataFields}}
                        </collections:primaryContact>
                    {{/occurrences}}
                {{/contact}}
            {{/metadataGroups}}
        {{/categoryContact}}
        {{#categoryCreators}}
            {{#metadataGroups}}
                {{#creators}}
                    {{#occurrences}}
                        <collections:creator>
                            {{#metadataFields}}
                                {{#givenName}}
                                    {{#occurrences}}
                                        <collections:givenName>{{value}}</collections:givenName>
                                    {{/occurrences}}
                                {{/givenName}}
                                {{#familyName}}
                                    {{#occurrences}}
                                        <collections:familyName>{{value}}</collections:familyName>
                                    {{/occurrences}}
                                {{/familyName}}
                                {{#email}}
                                    {{#occurrences}}
                                        <collections:email>{{value}}</collections:email>
                                    {{/occurrences}}
                                {{/email}}
                                {{#creatorAffiliation}}
                                    {{#occurrences}}
                                        <collections:affiliation>{{value}}</collections:affiliation>
                                    {{/occurrences}}
                                {{/creatorAffiliation}}
                                {{#creatorOU}}
                                    {{#occurrences}}
                                        <collections:OU>{{value}}</collections:OU>
                                    {{/occurrences}}
                                {{/creatorOU}}
                            {{/metadataFields}}
                        </collections:creator>
                    {{/occurrences}}
                {{/creators}}
            {{/metadataGroups}}
        {{/categoryCreators}}
        {{#categoryGrants}}
            {{#metadataGroups}}
                {{#researchGrants}}
                    {{#occurrences}}
                        <collections:grants>
                            {{#metadataFields}}
                                {{#grantId}}
                                    {{#occurrences}}
                                        <collections:grantID>{{value}}</collections:grantID>
                                    {{/occurrences}}
                                {{/grantId}}
                                {{#grantFundingBody}}
                                    {{#occurrences}}
                                        <collections:fundingBody>{{value}}</collections:fundingBody>
                                    {{/occurrences}}
                                {{/grantFundingBody}}
                            {{/metadataFields}}
                        </collections:grants>
                    {{/occurrences}}
                {{/researchGrants}}
            {{/metadataGroups}}
        {{/categoryGrants}}
        {{#categoryAccessRights}}
            {{#metadataFields}}
                {{#accessRights}}
                    {{#occurrences}}
                        <collections:rightsStatement>{{value}}</collections:rightsStatement>
                    {{/occurrences}}
                {{/accessRights}}
            {{/metadataFields}}
        {{/categoryAccessRights}}
        {{#categoryRetention}}
            {{#metadataFields}}
                {{#minimumRetention}}
                    {{#occurrences}}
                        <collections:retentionPeriod>{{value}}</collections:retentionPeriod>
                    {{/occurrences}}
                {{/minimumRetention}}
            {{/metadataFields}}
        {{/categoryRetention}}
    {{/metadataCategories}}
</metadata>